/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #d1e7dd; /* Пастельный зеленый */
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #28a745; /* Темно-зеленый */
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #d1e7dd;
    position: relative;
    bottom: 0;
    width: 100%;
}
